@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  code {
    background-color: #eaeaea;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  